<header></header>
<div class="container my-4">
  <a
    type="button"
    class="btn btn-outline-secondary my-3"
    ng-href="/gist/{{user}}/new"
  >
    New gist
  </a>
  <ul class="list-group my-3">
    <li ng-if="!repo.parent" class="list-group-item list-header">
      <img src="{{}}" />
      <small> All gists {{data.length}}</small>
    </li>
    <li
      ng-repeat="gist in  data track by $index"
      class="list-group-item d-flex justify-content-between"
    >
      <a ng-href="/gist/{{user}}/{{gist.id}}">
        <svg
          class="octicon octicon-gist"
          viewBox="0 0 12 16"
          version="1.1"
          width="12"
          height="16"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M7.5 5L10 7.5 7.5 10l-.75-.75L8.5 7.5 6.75 5.75 7.5 5zm-3 0L2 7.5 4.5 10l.75-.75L3.5 7.5l1.75-1.75L4.5 5zM0 13V2c0-.55.45-1 1-1h10c.55 0 1 .45 1 1v11c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1zm1 0h10V2H1v11z"
          ></path>
        </svg>
        <small class="mx-1"> {{user}} / {{gist.description}}</small>
      </a>
      <small class="text-secondary">Updated on {{gist.updated_at}}</small>
    </li>
  </ul>
</div>
